<!DOCTYPE html>		
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Vincent van Gogh</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
		
		
		<h1> Acerca de James Cameron</h1>
		<p>Director, productor y guionista canadiense, hijo del ingeniero eléctrico Philip Cameron y de la enfermera Shirley Cameron.
            En el año 1971, James Cameron se trasladó con su familia a los Estados Unidos para residir en California.
            Acudió durante un tiempo a la Fullenton College para estudiar Física pero no terminó la carrera.
            Trabajó como camionero y como mecánico e, inspirado por Stanley Kubrick, comenzó a rodar cortometrajes en la década de los 70. “Xenogenesis” (1978), corto de ciencia-ficción co-dirigido con Randall Frakes, fue uno de sus primeros trabajos cinematográficos.
            El mismo año de la filmación de “Xenogenesis”, Cameron se casó con la camarera Sharon Williams. Uno de sus primeros trabajos en Hollywood fue para la compañía de Roger Corman, New World Pictures, quien produjo “Los 7 Magníficos Del Espacio” (1980), una película en la que James ocupó un puesto en el departamento de dirección artística.
            Un año después volvió a colaborar con Roger Corman, productor de “La Galaxia del Terror” (1981), film con Cameron en tareas de director de producción y segunda unidad. En 1981, James estrenó su primera película como director, “Piraña 2” (1981). Con “Terminator” (1984), un film de ciencia-ficción con Arnold Schwarzenegger como cyborg dentro de una historia de salto temporal, el director canadiense alcanzó el éxito internacional y compartió créditos con la guionista y productora Gale Anne Hurd (nacida en 1955), con quien se casó en 1985 tras divorciarse de Sharon Williams un año antes. Después de “Terminator”, Cameron dirigió “Aliens” (1986), secuela del “Alien” de Ridley Scott en la que demostró su capacidad para crear enérgicas y tensas secuencias de acción.
            Más tarde estrenó “Abyss” (1989), una aventura de ciencia-ficción submarina con el protagonismo de Ed Harris y Mary Elizabeth Mastrantonio.
            James Cameron y Gale Ann Hurd rompieron su relación sentimental el mismo año del estreno de “Abyss”.
        </p>
		
</html>