<!DOCTYPE html>		
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>James Cameron</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body id="bodyHome">
		<h1>Bienvenido al portal de James Cameron</h1>
		<ul>
		<li><a href="/about-page">Acerca de James Cameron</a></li>
		<li><a href="/works">Trabajos/Producciones</a></li>
		</ul>
	</body>
</html>