<!doctype html>		
    <html lang="en">
	    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Works</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		
</head>
	<body>
		<h1>Trabajos</h1>
		<h2>Lista de los trabajos/producciones de James Cameron</h2>
		<ul>
		<li>Terminator 2: El juicio final</li>
		<li>Aliens: El regreso</li>
		<li>Terminator</li>
		<li>Irises</li>
		<li>Titanic</li>
		<li>Avatar</li>
		<li>Mentiras Arriesgadas</li>
		</ul>
	</body>
</html>